<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Máquinas em Tempo Real</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            font-size: 20px;
        }
    </style>

    <script type="text/javascript">function atualizar(){location.reload();}window.setInterval(atualizar, 40000);</script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>





<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h5 style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 50px;">Máquinas em Tempo Real</h5>
        </div>
    </div>

    <div class="bar-mesclada-horizontal my-4">
  <div class="bar-animada-interna"></div>
</div>

<style>
 .bar-mesclada-horizontal {
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-image: linear-gradient(-45deg, #6C7B8B 0%, #E0FFFF 25%, #A9A9A9 50%, #6495ED 75%, #7F7F7F 100%);
 }

 .bar-animada-interna {
  animation: animacaoBarra 7s linear infinite;
  background-image: linear-gradient(-45deg, #7F7F7F 0%, #6495ED 25%, #A9A9A9 50%, #E0FFFF 75%, #6C7B8B 100%);
  width: 0px;
  border-radius: 50px;
  height: 6px;
 }

 @keyframes animacaoBarra {
  from {
   width: 0px;
  }
  to {
   width: 100%;
  }
 }
</style>

    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-white bg-primary p-4">{% block content %}

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">LX-01:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ luxor_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ luxor_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ luxor_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ luxor_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">LR-04:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam04_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam04_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam04_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam04_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">LR-05:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam05_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam05_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam05_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ lam05_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">DC-04:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dc04_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dc04_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dc04_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dc04_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">DS-03:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ ds03_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ ds03_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ ds03_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ ds03_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">DW-02:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw02_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw02_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw02_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw02_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="text-white" style="background-color: #0074BC; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">DW-03:</h3>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw03_producao_mostrar_status_de_producao }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw03_producao_mostrar_qtde_ciclos_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw03_producao_mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
                    </div>


                    <div class="col-md-6" style="margin-left: 0px;">
                        <p class="text-dark" style="background-color: #ffffff; padding: 10px; border-radius: 10px; font-weight: bold; font-size: 30px;">{{ dw03_producao_mostrar_hora_ultimo_ciclo }}</p>
                    </div>

                </div>


                {% endblock %}
            </h5>
        </div>
    </div>
</div>


    <canvas id="myChart"></canvas>

    <script>
        var options = {
            plugins: {
                tooltip: {
                    titleFont: {
                        size: 32
                    },
                    bodyFont: {
                        size: 32
                    }
                },
                legend: {
                    labels: {
                        font: {
                            size: 32
                        }
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            font: {
                                size: 32
                            }
                        }
                    },
                    x: {
                        ticks: {
                            font: {
                                size: 32
                            }
                        }
                    }
                }
            }
        };


        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['LX-01', 'LR-04', 'LR-05', 'DC-04', 'DS-03', 'DW-02', 'DW-03'],
                datasets: [{
                    label: 'Produção Peças',
                    data: [120, 250, 180, 310, 220, 50, 150],
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.6)',
                      'rgba(54, 162, 235, 0.6)',
                      'rgba(255, 206, 86, 0.6)',
                      'rgba(75, 192, 192, 0.6)',
                      'rgba(255, 99, 71, 0.6)',
                      'rgba(153, 102, 255, 0.6)',
                      'rgba(255, 165, 0, 0.6)'
                    ]
                }]
            },
            options: options
        });
    </script>


</body>
</html>