<!DOCTYPE html>
<html>
<head>
    <title>Teste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

{% block content %}
<div class="row">


    <div class="col-md-2">
        <h4 class="text-white" style="background-color: #007bff; padding: 10px; border-radius: 10px;">Primeiro Ciclo:</h4>
    </div>

    <div class="col-md-1" style="margin-left: -55px;">
        <p class="text-dark" style="background-color: #ffffff; padding: 11px; border-radius: 15px; border: 2px solid #007bff; font-weight: bold;">{{ mostrar_hora_primeiro_ciclo_do_dia_atual }}</p>
    </div>


    <div class="col-md-2">
        <h4 class="text-white" style="background-color: #007bff; padding: 10px; border-radius: 10px;">Último Ciclo:</h4>
    </div>

    <div class="col-md-1" style="margin-left: -55px;">
        <p class="text-dark" style="background-color: #ffffff; padding: 11px; border-radius: 15px; border: 2px solid #007bff; font-weight: bold;">{{ mostrar_hora_ultimo_ciclo }}</p>
    </div>


    <div class="col-md-2">
        <h4 class="text-white" style="background-color: #007bff; padding: 10px; border-radius: 10px;">Qtde. Peças:</h4>
    </div>

    <div class="col-md-1" style="margin-left: -55px;">
        <p class="text-dark" style="background-color: #ffffff; padding: 11px; border-radius: 15px; border: 2px solid #007bff; font-weight: bold;">{{ mostrar_qtde_ciclos_do_dia_atual }}</p>
    </div>


    <div class="col-md-2">
        <h4 class="text-white" style="background-color: #007bff; padding: 10px; border-radius: 10px;">Status:</h4>
    </div>

    <div class="col-md-1" style="margin-left: -55px;">
        <p class="text-dark" style="background-color: #ffffff; padding: 11px; border-radius: 15px; border: 2px solid #007bff; font-weight: bold;">{{ mostrar_status_de_producao }}</p>
    </div>


</div>
{% endblock %}


</body>
</html>